.projModuleContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  border-radius: 10px;
  padding: 10px;
  transition-duration: 0.2s;
  cursor: pointer;
  position: relative;
}
@media (min-width: 621px) {
  .projModuleContainer:hover {
    background-color: rgba(200, 200, 255, 0.05);
  }
}
.projImageContainer {
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  height: 100%;
  width: 100%;
}
.imgCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
}
.imgCont img {
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.projInfoContainer {
  margin-left: 10px;
  padding: 1rem;
  grid-column-start: 4;
  grid-column-end: end;
  position: relative;
}
.projInfoContainer h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: var(--font-size-medium);
  color: var(--color-main-text);
}
.projInfoContainer p {
  margin-block: 0.5em;
  font-size: var(--font-size-paragraph);
  color: var(--color-second-text);
}
.row {
  gap: 10px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.skill {
  font-size: var(--font-size-small) !important;
  color: var(--color-emphasis) !important;
  font-weight: 500;
  background-color: var(--color-emphasis-semitrans);
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 0px !important;
}
@media (max-width: 620px) {
  .projModuleContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  .projInfoContainer {
    padding: 0;
    margin: 0;
  }
  .projImageContainer {
    width: 240px;
    order: 5;
  }
  .imgCont {
    margin-block: 20px;
    padding: 0;
  }
}
