.heroContainer {
  position: sticky;
  top: 0px;
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1023px) {
  .heroContainer {
    padding-block: 6rem;
  }
}
@media (max-width: 1023px) {
  .heroContainer {
    position: relative;
    justify-content: space-between;
  }
  .navigation {
    position: absolute !important;
    opacity: 0;
    pointer-events: none;
  }
}
.heroText {
  font-size: var(--font-size-hero);
  color: var(--color-main-text);
  font-weight: 800;
  font-family: var(--font-satoshi);
  margin-bottom: 0px;
}
@media (min-width: 1023px) {
  .heroText {
    margin-top: 0px;
  }
}
.descText {
  margin: 0px;
  font-size: var(--font-size-medium);
  color: var(--color-second-text);
  font-weight: 500;
  font-family: var(--font-satoshi);
}
.links ul {
  padding: 0px;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  gap: 10px;
}
.links ul li a img {
  opacity: 0.5;
  filter: invert(1);
  transition: opacity 0.2s;
}
.links ul li:hover a img {
  opacity: 1;
}
.navigation {
  position: relative;
}
.navigation ul {
  margin-top: 2rem;
  padding-left: 40px;
  list-style: none;
}
.navigation ul li {
  padding-block: 0.3rem;
}
.navigation ul li a {
  text-decoration: none;
  font-family: var(--font-inter);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: var(--font-size-paragraph);
  color: var(--color-second-text);
  transition-duration: 0.2s;
}
.navigation ul li a:hover {
  color: white !important;
}
.scrollInd {
  transition: top ease 0.2s;
  height: 10px;
  width: 30px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 10.2969px;
}
.button {
  margin-top: 1rem;
  color: var(--color-main-text);
  font-size: var(--font-size-paragraph);
  border: 2px solid var(--color-main-text);
  padding: 0.5em 1em;
  border-radius: 8px;
  transition: transform 0.15s, box-shadow 0.15s, color 0.15s, border-color 0.15s;
  display: inline-block;
  cursor: pointer;
  /* box-shadow: 0px 5px 0px 0px var(--color-main-text); */
}
@media (max-width: 1023px) {
  .button:hover {
    background-color: var(--color-main-text);
    color: rgba(66, 92, 116, 1);
    font-weight: 600;
  }
  .button {
    transition: color 0.1s, background-color 0.1s;
    margin-block: 1rem;
  }
}
@media (min-width: 1024px) {
  .button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px 0px var(--color-main-text);
  }
  .button:active {
    transform: translateY(-2px);
    box-shadow: 0px 2px 0px 0px var(--color-main-text);
  }
}
