:root {
  --color-background: #000b15;
  --color-emphasis: #00ffff;
  --color-main-text: #ecfcff;
  --color-second-text: #b1c3c7;
  --color-accent-gray: #111d28;

  --font-size-paragraph: 22px;
  --font-size-header: 30px;
  --font-size-hero: 50px;
}
::selection {
  text-shadow: none;

  color: #fff;
  background-color: #1f3c57;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
*,
*::before,
*::after,
html {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: var(--font-satoshi), var(--font-inter), "Segoe UI", Candara,
    "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS",
    Verdana, "Verdana Ref", sans-serif;

  background-color: var(--color-background);
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  user-select: none;
}
a,
button {
  touch-action: manipulation; /* Element doesn't want double-tap on mobile to zoom */
}
svg {
  pointer-events: none;
}
.defaultParagraph {
  font-size: var(--font-size-paragraph);
  color: var(--color-second-text);
}
.defaultHeading {
  font-size: var(--font-size-header);
  color: var(--color-main-text);
}
.emphasis {
  color: var(--color-emphasis);
}
.defaultButton {
  background-color: transparent;
  border: 2px solid var(--color-emphasis);
  padding: 0.4em 1.4em;
  font-size: var(--font-size-paragraph);
  color: var(--color-emphasis);
  border-radius: 8px;
  font-family: var(--font-satoshi);
  font-weight: 600;
  display: inline-block;
  box-shadow: 0px 0px 0px 0px var(--color-emphasis);
  transition-duration: 0.2s;
  cursor: pointer;
  position: relative;
}
.defaultButton:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 0px 0px var(--color-emphasis);
}
.spacerSmall {
  margin: 50px 0px;
}
