.twoColumns {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--padding);
  position: relative;
  height: 100%;
}
.equalCol {
  max-width: 700px;
}
.staticInfo {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}
.content {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: auto;
  position: relative;
  height: 100%;
}
@media (max-width: 1023px) {
  .twoColumns {
    flex-direction: column;
    gap: 0px;
  }
  .content {
    margin: 0;
  }
  .staticInfo {
    margin: 0;
  }
  .equalCol {
    max-width: 1200px;
  }
}
