.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  position: relative;
  transition-duration: 0.2s;
}
@media (min-width: 621px) {
  .container:hover {
    background-color: rgba(200, 200, 255, 0.05);
  }
}
.container * {
  transition-duration: 0.2s;
}
.leftCont {
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  height: 100%;
  width: 100%;
  padding-block: 1rem;
}
.rightCont {
  margin-left: 10px;
  padding: 1rem;
  grid-column-start: 4;
  grid-column-end: end;
  position: relative;
}
.dates {
  color: var(--color-second-text);
  font-family: var(--font-inter);
  font-size: var(--font-size-paragraph);
  font-weight: 600;
}
.imgCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
}
.imgCont img {
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.externalLink {
  margin-left: 10px;
  opacity: 0;
  filter: invert(0.6);
  transform: translateX(0px);
}
.container:hover .externalLink {
  opacity: 1;
  transform: translateX(20px);
  filter: invert(1);
}
.rowCenter {
  display: flex;
  align-items: center;
}
.title {
  color: var(--color-main-text);
  font-size: var(--font-size-medium);
  margin: 0;
}
.subTitle {
  color: var(--color-second-text);
  font-size: var(--font-size-paragraph);
  margin: 0;
}
.desc {
  color: var(--color-second-text);
  font-size: var(--font-size-paragraph);
}
.row {
  gap: 10px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.skill {
  font-size: var(--font-size-small) !important;
  color: var(--color-emphasis) !important;
  font-weight: 500;
  background-color: var(--color-emphasis-semitrans);
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 0px !important;
}
@media (max-width: 620px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  .rightCont {
    padding: 0;
    margin: 0;
  }
  .leftCont {
    width: 240px;
    order: 5;
  }
  .imgCont {
    margin-block: 20px;
    padding: 0;
  }
  .leftCont.date {
    padding: 0;
    order: 0;
  }
  .externalLink {
    opacity: 1;
  }
}
