.aboutContainer {
  margin-block-start: 7rem;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: relative;
  width: 100%;
}
.skillContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 60%;
}
.imageContainer {
  position: relative;
  width: 40%;
  min-height: 250px;
  /* height: 100%; */
}
@media (max-width: 650px) {
  .skillContainer {
    width: 100%;
  }
  .row {
    flex-direction: column;
    align-items: center;
  }
  .imageContainer {
    width: 100%;
    max-width: 350px;
  }
}
.imageContainer img {
  border-radius: 10px;
}
.indivSkill {
  display: flex;
  align-items: center;
}
.skillLabel {
  margin: 0.3em 0 0.3em 0.3em;
  color: white;
  font-weight: 600;
  font-size: var(--font-size-paragraph);
}
.skillIcon {
  scale: 0.5;
  rotate: 90deg;
}
.skillIcon polygon {
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke-width: 4px;
  stroke: var(--color-emphasis);
}
